@import '../../../styles/typography.scss';
@import '../../../styles/common.scss';

.contactPanelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;

    @media screen and (max-width: 999px) {
        padding: 0px;
    }
}

.contactPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    width: 100%;
}

.flexOuter {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    padding-top: 0px;
    margin-top: 0px;

    li {
        display: flex;
        flex-grow: 1;
        padding: 10px;
        padding-bottom: 2px;
    }

    label {
        font-size: 18px;
        color: white;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }

    .inputArea {
        width: 350px;
        justify-content: flex-start;
        height: 35px;
        border: none;
        margin-top: 10px;
        border-radius: 5px;
        padding: 0px 20px;
        font-size: 15px;
        font-weight: bold;
        color: rgba(75, 75, 75, 1);
        outline: none;
        border-left: 2px solid rgb(80, 79, 79);
        border-bottom: 1px solid rgb(92, 92, 92);

        @media screen and (max-width: 450px) {
            width: 300px;
        }
    }

    .textArea {
        @extend .inputArea;
        height: 80px;
        padding: 15px 20px;
    }

    .sendBtn {
        font-weight: bold;
        width: 210px;
        border-radius: 4px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 40px;
        font-size: 18px;
        transition: 0.2s;
        cursor: pointer;
        color: white;
        background-color: rgba(13, 115, 188, 1);
        border-left: thin solid rgb(18, 93, 146);
        border-bottom: thin solid rgb(19, 94, 148);
        border-top: none;
        border-right: none;

        &:hover {
            opacity: 0.8;
        }
    }

    @media screen and (max-width: 999px) {
        padding: 0px;
    }
}
