@import '../../../styles/typography.scss';
@import '../../../styles/common.scss';

.devItemContainer {

  @extend .subtleShadow;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 3px;
  flex-grow: 1;
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  
  p {
      color: black;
  }
}

.ctaContainer {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1100px) {
    flex-direction: row;
  }
}

.hrefContainer {
    display: flex;
    width: 100%;
    text-decoration: none;
    height: 100% !important;
}

.viewCta:hover {
  border-color: rgb(198, 235, 181);
  color: rgb(198, 235, 181);;
}

.overlayTextContainer {
    border-radius: 3px;
    display: flex;
    background-color: rgba(63, 56, 77, 0.78);
    flex: 1 0 auto;
    transition: 0.4s;
    align-items: center;
    padding-bottom: 25px;

    &:hover {
        background-color: rgba(63, 56, 77, 0.65);
    }

    .overlayText {
        display: flex;
        flex-grow: 1;
        align-items: center;
        flex-direction: column;
        padding: 5px 25px;

        h2 {
            color: white !important;

            @media screen and (max-width: 320px) {
                font-size: 20px;
            }
        }

        p {
            text-align: justify;
            color: white !important;
            max-width: 330px;

            @media screen and (max-width: 1241px) {
                max-width: 300px;
            }

            @media screen and (max-width: 1150px) {
                max-width: 250px;
            }

            @media screen and (max-width: 999px) {
                max-width: 720px;
            }

            @media screen and (max-width: 999px) and (max-height: 800px) {
                display: none;
            }

            @media screen and (max-width: 900px) {
                max-width: 700px;
            }

            @media screen and (max-width: 790px) {
                max-width: 650px;
            }

            @media screen and (max-width: 740px) {
                display: none;
            }
        }
    }
}

.underline {
    background-color: rgb(51, 126, 196);
}

.viewCta {
  cursor: pointer;
  pointer-events: hover;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0);
  border: thin solid rgb(255, 212, 156);
  color: rgb(255, 212, 156);;
  margin-top: 20px;
  border-radius: 2px;
  height: 50px;
  width: 130px;
  font-size: 14px;
  transition: 0.3s;

  @media screen and (max-width: 1100px) {
    margin: 10px 5px 0px 5px;
  }

  @media screen and (max-width: 740px) {
    margin-top: 20px
  }
}
