@import '../../../styles/typography.scss';
@import '../../../styles/common.scss';
 
.linksPanelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    flex-direction: column;
}

.linksPanel {
    text-align: center;
}

.socialMediaLinks {
    list-style-type: none;
    text-align: center;
    display: flex;
    padding: 0px;

    li {
        margin-left: 10px;

        a {
            color: rgb(194, 194, 194) !important;
        }
    }
}
