@import '../../../styles/typography.scss';
@import '../../../styles/common.scss';

.header {
  font-size: 24px;
  color: black;
  padding-bottom: 24px;
}
 
.linksPanelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    flex-direction: column;
    margin-top: -30px;

    @media screen and (min-height: 740px) {
        margin-top: 0px;
    }
}

.linksPanel {
    text-align: center;

    .underline {
        margin-bottom: 30px;

        @media screen and (max-width: 500px) {
            margin-bottom: 0px;
        }
    }
}

.socialMediaLinks {
    list-style-type: none;
    text-align: center;
    display: flex;
    padding: 0px;

    li {
        margin-left: 28px;
        font-size: 28px;

        a {
            transition: 0.3s;
            color: rgb(211, 211, 211);

            &:hover {
                color: white;
            }
        }
    }
}
