@import '../../styles/typography.scss';
@import '../../styles/common.scss';

.discoverPanelComponent {
    @extend .fadeIn;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    align-items: center;

    @media screen and (max-width: 999px) {
        flex-direction: column;
    }
}

.leftPanel {
    flex-grow: 1;
    padding: 0px 20px;
    border-right: 2px solid white;

    @media screen and (max-width: 999px) {
        border-right: none;
    }
}

.rightPanel {
    flex-grow: 1;
    padding: 0px 20px;
}
