@import '../../styles/typography.scss';
@import '../../styles/common.scss';

.discoverPanelComponent {
    @extend .fadeIn;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    align-items: center;
}

.leftPanel {
    flex-grow: 1;
    padding: 10px 20px;
    border-right: thin solid white;
}

.rightPanel {
    flex-grow: 2;
    padding: 10px 20px;
}
