@import '../../../styles/common.scss';

.textCardContainer {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    max-width: 570px;
    flex-grow: 2;

    @media screen and (min-width: 1400px) {
        max-width: 800px;
    }

    @media screen and (max-width: 1460px) {
        max-width: 600px;
    }

    @media screen and (max-width: 1240px) {
        max-width: 500px;
    }

    @media screen and (max-width: 999px) {
        max-width: 370px;
    }

    @media only screen and (max-width : 770px) {
        max-width: 100%;
        width: auto;
        order: 2;
    }
}

.textContent {
    border-right: 1px solid rgba(255, 255, 255, 0.486);
    padding-right: 30px;
    width: 100%;
    text-align: justify;

    @media only screen and (max-width : 770px) {
        border-right: none;
    }
}
