@import '../../../styles/common.scss';
@import '../../../styles/typography.scss';

.textCardContainer {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    max-width: 570px;
    flex-grow: 2;

    @media screen and (min-width: 1400px) {
        max-width: 800px;
    }

    @media screen and (max-width: 1460px) {
        max-width: 600px;
    }

    @media screen and (max-width: 1240px) {
        max-width: 500px;
    }

    @media screen and (max-width: 999px) {
        max-width: 370px;
    }

    @media only screen and (max-width : 770px) {
        max-width: 100%;
        width: auto;
        order: 2;
    }

    .navButton {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        border: thin solid rgb(155, 150, 150);
        border-left: thin solid rgb(218, 218, 218);
        border-bottom: thin solid white;
        padding: 8px 0px;
        outline: none;
        transition: 0.3s;
        border-radius: 2px;
        width: 100%;
        max-width: 90px;
        margin-top: 15px;


        .navIcon {
            font-size: 25px;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.textContent {
    border-right: 1px solid rgba(255, 255, 255, 0.486);
    padding-right: 30px;
    width: 100%;
    text-align: justify;

    @media only screen and (max-width : 770px) {
        border-right: none;
    }
}

.techIcons {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 15px;
    margin: 0px;
    margin-top: 24px;
    
    li {
        margin: 0px 15px;
        font-size: 55px;
        color: white;
        opacity: 0.7;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        .icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
            text-decoration: none;
        }

        .subText {
            font-size: 14px;
            margin-top: 10px;
            opacity: 0;
            transition: 0.7s;
            font-weight: bold;
        }

        &:hover {
            opacity: 1;

            .subText {
                opacity: 1;
            }

            .javascriptLogo {
                color: #F0D53C;

                .subText {
                    color: #F0D53C;
                }
            }

            .reactLogo {
                color: #01D1F7;

                .subText {
                    color: #01D1F7;
                }
            }

            .htmlLogo {
                color: rgb(236, 143, 103);

                .subText {
                    color: rgb(236, 143, 103);
                }
            }

            .cssLogo {
                color: rgb(81, 160, 224);

                .subText {
                    color: rgb(81, 160, 224);
                }
            }
        }

        @media screen and (max-width: 570px) {
            font-size: 45px;
            margin: 0px 6px;
        }
    }
}

.techIconsContainer {
    @extend .fadeIn;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(88, 88, 88, 0.4)
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .buttonText {
        font-size: 16px;
        margin-right: 7px;
        margin-left: 5px;
        position: relative;
        top: -4px;
    }
}
