@import '../styles/common.scss';

.navigationContainer {
    @extend .fadeIn;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.navItemsContainer {
    display: flex;

    li {
        display: block;
        list-style-type: none;
        flex-grow: 1;
        text-align: center;

        @media screen and (max-width: 420px) {
            text-align: left;
        }
    }
}
