.navigationContainer {
    height: 50px;
    background: #42A5F5;
    color: white;
}

.navItemsContainer {
    display: flex;

    li {
        display: block;
        list-style-type: none;
        flex-grow: 1;
    }
}
