.content {
  padding: 20px;
  height: 100%;
  margin: 0 auto -50px;
}

.App {
  background-color: #F587B6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.siteContent {
  flex: 1 0 auto;
  padding: var( — space) var( — space) 0;
  width: 100%;
}

.siteContent:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var( — space);
  height: 0;
  visibility: hidden;
}
